
<div th:fragment="header" class="home-navbar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <header data-role="Header" class="home-header max-width-container">
        <div class="home-navbar1">
            <div class="home-middle">
                <div class="home-left">
                    <th:block sec:authorize="!isAuthenticated()">
                        <a th:href="@{/}" class="navbar-link">HOME</a>
                        <a th:href="@{/about-us}" class="navbar-link">ABOUT US</a>
                        <a th:href="@{/users/register}" class="navbar-link">REGISTER</a>
                        <a th:href="@{/users/login}" class="navbar-link">LOGIN</a>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <a th:href="@{/shop}" class="navbar-link">SHOP</a>
                        <a th:href="@{/add-book}" sec:authorize="hasRole('ADMINISTRATOR')" class="navbar-link">ADD BOOK</a>
                        <a th:href="@{/users/profile}" class="navbar-link">PROFILE</a>
                        <form class="navbar-link"
                              th:method="POST"
                              th:action="@{/users/logout}">
                            <button type="submit" class="navbar-button">LOGOUT</button>
                        </form>
                    </th:block>
                </div>
            </div>
            <div class="home-right">
                <a th:href="@{/cart}">
                    <img src="/images/shopping-cart.png" alt="Shopping Cart" class="shopping-cart-icon">
                </a>
            </div>
        </div>
    </header>
</div>
