<div th:fragment="header" class="home-navbar">
    <header data-role="Header" class="home-header max-width-container">
        <div class="home-navbar1">
            <div class="home-middle">
                <div class="home-left">
                    <a th:href="@{/}" class="navbar-link">HOME</a>
                    <a th:href="@{/shop}" th:if="${@currentUser.isLoggedIn()}"class="navbar-link">SHOP</a>
                    <a th:href="@{/add-book}" th:if="${@currentUser.isLoggedIn() && @currentUser.isAdministrator()}"class="navbar-link">ADD BOOK</a>
                    <a th:href="@{/about-us}" class="navbar-link">ABOUT US</a>
                    <a th:href="@{/users/register}" th:unless="${@currentUser.isLoggedIn()}"class="navbar-link">REGISTER</a>
                    <a th:href="@{/users/login}" th:unless="${@currentUser.isLoggedIn()}"class="navbar-link">LOGIN</a>
                    <a th:href="@{/users/profile}" th:if="${@currentUser.isLoggedIn()}"class="navbar-link">PROFILE</a>
                    <form class="navbar-link"
                        th:method="POST"
                        th:action="@{/users/logout}"
                        th:if="${@currentUser.isLoggedIn()}">
                        <button type="submit">Logout</button>
                    </form>
<!--                    <a th:href="@{/users/logout}" th:if="${@currentUser.isLoggedIn()}"class="navbar-link">LOGOUT</a>-->
                </div>
            </div>
        </div>
    </header>
</div>