<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head"></head>
<body>
    <div class="home-container">
        <div class="home-navbar" th:replace="fragments/header"></div>
    <div class="about-us">
        <h3>About us</h3>
        <div>
            <p>Dear readers,</p>
            <p>We offer a huge collection of books from diverse categories of Fiction, Non-fiction, Biographies, History, Religion, Self-Help, etc.</p>
            <p>We strive for customer satisfaction by offering a user-friendly search engine, efficient payment options and seamless delivery systems. Apart from all this, we also provide great deals and discounts on our products.</p>
            <p>All the Publishers, Distributors and Authors around the country are welcome to partner with us and grow the Bookswagon family. We would like to thank our customers for shopping with us. You can write to us on our e-mail to share any suggestions or feedback you might have regarding our website or services.</p>
        </div>
    </div>
    </div>
</body>
</html>