<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/header"></header>

<div class="home-container">
    <form id="add-book-form"
          action="/"
          method="/" >

        <h3>Add new book</h3>
        <div>
            <div>
                <label for="inputName">Name</label>
            </div>
            <div>
                <input name="name"
                       required minlength="2" maxlength="50"
                       type="text"
                       id="inputName">
                <small id="inputNameError">Name length must be more than 2 characters</small>
            </div>
        </div>
        <div>
            <div>
                <label for="inputAuthor">Author</label>
            </div>
            <div>
                <input name="authorName"
                       required minlength="2" maxlength="50"
                       type="text"
                       id="inputAuthor">
                <small id="inputAuthorNameError">Author name length must be more than 2 characters</small>
            </div>
        </div>

        <div>
            <div>
                <label for="inputDescription">Description</label>
            </div>
            <div>
                    <textarea name="description"
                              required minlength="5"
                              id="inputDescription"></textarea>
                <small id="inputDescriptionError">Description length must be more than 5 characters</small>
            </div>
        </div>
        <div>
            <div>
                <label for="inputNumberOfPages">Number of pages</label>
            </div>
            <div>
                <input name="numberOfPages"
                       required
                       type="number"
                       id="inputNumberOfPages">
            </div>
        </div>
        <div>
            <div>
                <label for="inputReleaseDate">Release date</label>
            </div>
            <div>
                <input name="releaseDate"
                       required
                       type="date"
                       id="inputReleaseDate">
            </div>
        </div>

        <div>
            <div>
                <label for="imageUrl">Image URL</label>
                <input id="imageUrl" type="text">
            </div>
        </div>

        <div>
            <div>
                <label for="categories">Categories:</label>
                <input th:each="category: ${categoryTypes}"
                       type="checkbox"
                       name="categories"
                       id="categories"
                       th:value="${category}" th:text="${category}">
            </div>
        </div>

        <div class="button">
            <button class="home-text31" type="submit">Add Book</button>
        </div>
    </form>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
