<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="shopping-cart-container">
    <h1>Your Shopping Cart</h1>
    <div th:if="${cart != null}">
        <table>
            <thead>
            <tr>
                <th>Book</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${cart.cartItems}">
                <td th:text="${item.book.name}">Book Title</td>
                <td th:text="${item.quantity}">Quantity</td>
                <td th:text="${#numbers.formatDecimal(item.book.price, 0, 'COMMA', 2, 'POINT')}">Price</td>
                <td th:text="${#numbers.formatDecimal(item.book.price * item.quantity, 0, 'COMMA', 2, 'POINT')}">Total
                </td>
                <td>
                    <form th:action="@{/cart/remove/{cartItemId}(cartItemId=${item.id})}" method="post">
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3" style="text-align: right;"><strong>Total:</strong></td>
                <td>
                    <strong>
                        <span th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 2, 'POINT')}"></span>
                    </strong>
                </td>
                <td></td>
            </tr>
            </tfoot>
        </table>
        <div style="text-align: right; margin-top: 20px;">
            <a th:href="@{/checkout}" class="button">Finish Order</a>
        </div>
    </div>
    <div th:if="${cart == null}">
        <p>Your cart is empty.</p>
    </div>
</div>
</body>
</html>
