<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"></head>
<body>
<div class="home-container">
    <div th:replace="fragments/header"></div>
    <div class="categories">
        <section class="category">
            <div>
                <h2>Title</h2>
                <p>Author</p>
                <p>Price</p>
                <a href="/" class="button">Learn More</a>
            </div>
            <!--        <img src="images/fantasy-book.jpg">-->
        </section>
        <section class="category">
            <div>
                <h2>Title</h2>
                <p>Author</p>
                <p>Price</p>
                <a href="/" class="button">Learn More</a>
            </div>
            <!--        <img src="images/fantasy-book.jpg">-->
        </section>
        <section class="category">
            <div>
                <h2>Title</h2>
                <p>Author</p>
                <p>Price</p>
                <a href="/" class="button">Learn More</a>
            </div>
            <!--        <img src="images/fantasy-book.jpg">-->
        </section>
    </div>
</div>
</body>
<footer th:replace="fragments/footer"></footer>
</html>