<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head.html"></head>

<body>
<div>
    <div class="home-container">
        <div class="home-navbar" th:insert="fragments/header.html"></div>
        <div class="home-main">
            <div class="section-container column">
                <div class="max-width-container">
                    <div class="section-heading-section-heading">
                        <h1 class="section-heading-text Heading-2">
                            <span>SHOP BY CATEGORIES</span>
                        </h1>
                        <span class="section-heading-text1">
                <span>
                  Start shopping based on the categories you are interested in
                </span>
              </span>
                    </div>
                    <div class="home-cards-container">
                        <div class="category-card-category-card">
                            <img alt="image" src="/images/fantasy-book.jpg" class="category-card-image"/>
                            <span class="category-card-text"><span>Fantasy</span></span>
                        </div>
                        <div class="category-card-category-card">
                            <img alt="image" src="/images/thriller-book.jpg" class="category-card-image"/>
                            <span class="category-card-text"><span>Thriller</span></span>
                        </div>
                        <div class="category-card-category-card">
                            <img alt="image" src="/images/romance-book.jpg" class="category-card-image"/>
                            <span class="category-card-text"><span>Romance</span></span>
                        </div>
                        <div class="category-card-category-card">
                            <img alt="image" src="/images/horror-book.jpg" class="category-card-image"/>
                            <span class="category-card-text"><span>Horror</span></span>
                        </div>
                        <div class="category-card-category-card">
                            <img alt="image" src="/images/historic-book.jpg" class="category-card-image"/>
                            <span class="category-card-text"><span>History</span></span>
                        </div>
                        <div class="category-card-category-card">
                            <img alt="image" src="/images/children-book.jpg" class="category-card-image"/>
                            <span class="category-card-text">
                  <span>Children</span>
                </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-full-width-banner section-container">
                <div class="home-left4">
                    <div class="home-content">
                        <span class="home-text29">BookStore</span>
                        <span class="home-text30">
                Are you sick of boring days? Come and join us in the amazing journey of reading! Here you can find everything from old classics to the newest and most popular books.
              </span>
                    </div>
                    <div class="home-btn button">
                        <a href="/shop" class="home-text31">Shop now</a>
                    </div>
                </div>
                <img alt="Rectangle13271410" src="./images/bookstore.jpg" class="home-image6"/>
            </div>
            <div class="section-container">
                <div class="max-width-container">
                    <div class="section-heading-section-heading section-heading-root-class-name">
                        <h1 class="section-heading-text Heading-2">
                            <span>Our store</span>
                        </h1>
                        <span class="section-heading-text1">
                <span>
                  Read the last books
                </span>
              </span>
                    </div>
                    <div class="home-container08">
                        <div class="blog-post-card-blog-post-card blog-post-card-root-class-name">
                            <img alt="image" th:src="${book.imageUrl}" class="blog-post-card-image"/>
                            <div class="blog-post-card-container">
                  <span class="blog-post-card-text">
                    <span th:text="${book.name}"></span>
                  </span>
                                <span class="blog-post-card-text1">
                    <span th:text="${book.author}">
                    </span>
                  </span>
                                <a href="#" class="button">
                                    Read more
                                </a>
                            </div>
                        </div>
                        <div class="blog-post-card-blog-post-card">
                            <img alt="image" th:src="${secondBook.imageUrl}" class="blog-post-card-image"/>
                            <div class="blog-post-card-container">
                  <span class="blog-post-card-text">
                    <span th:text="${secondBook.name}"></span>
                  </span>
                                <span class="blog-post-card-text1">
                    <span th:text="${secondBook.author}"></span>
                  </span>
                                <a href="#" class="button">
                                    Read more
                                </a>
                            </div>
                        </div>
                        <div class="blog-post-card-blog-post-card">
                            <img alt="image" th:src="${thirdBook.imageUrl}" class="blog-post-card-image"/>
                            <div class="blog-post-card-container">
                  <span class="blog-post-card-text">
                    <span th:text="${thirdBook.name}"></span>
                  </span>
                                <span class="blog-post-card-text1">
                    <span th:text="${thirdBook.author}">
                    </span>
                  </span>
                                <a href="#" class="button">
                                    Read more
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-footer" th:insert="fragments/footer.html"></div>
    </div>
</div>
</body>

</html>