<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head"></head>
<body>
<div class="home-container">
    <div class="home-navbar" th:replace="fragments/header"></div>
    <section class="home-container08">
        <div class="blog-post-card-blog-post-card">
            <div th:each="singleBook : ${allBooks}">
                <img th:src="${singleBook.imageUrl}" alt="Title image" class="blog-post-card-image">
                <div>
                    <h2 th:text="${singleBook.name}"></h2>
                    <p th:text="${singleBook.author}"></p>
                    <p th:text="${singleBook.price}"></p>
                    <a href="/" class="btn">Learn More</a>
                </div>
            </div>
        </div>
    </section>
    <div class="home-footer" th:replace="fragments/footer"></div>
</div>
</body>
</html>